@page "{name}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
    double price = Model.CurrentFood.Price;
}

<div id="top-container" class="text-center">
  
  <h2 class="font-weight-bold">@Model.CurrentFood.Name </h2>
  <img id="big-food-icon" src="@Model.CurrentFood.ImageSrc">
  <p id="display-price" class="font-weight-bold text-left">$@String.Format("{0:0.00} / lb", price)</p>
</div>

<hr />

<div id="description-container">
  <p>@Model.CurrentFood.Desc</p>
</div>

<hr />

<div id="pricing-container" class="d-flex font-weight-bold">
  <span id="unit-price" class="d-none">price</span>

  <div class="col text-left">
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity" min="1">
  </div>

  <div class="col text-right">
  Total: $<span id="total-price">0.00</span>
  </div>

</div>

<hr />

<div id="back-button-container" class="text-center">
  <a asp-page="/Index" class="btn text-white">
  <img style="width: 1.5rem; display: inline;" src="https://content.codecademy.com/courses/asp-dot-net/food_icons/left-arrow.png" />
  Back to home
  </a>
</div>