@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
  <h1 id="store-name" ><img id="green-cart" class="mr-2" src="https://content.codecademy.com/courses/asp-dot-net/food_icons/cart-green.png">Grocer.ly</h1>
  <p>Browse our inventory online and shop in-store!</p>
</div>

<div id="food-container">
  <!-- Loop through Model.Foods -->

</div>

<hr class="mt-2"/>
