@page
@model string
@if(ViewData["Title"] == "Home")
    {
<a href="https://www.linkedin.com/in/niccolo-matteo-borgato-a47059159/">LinkedIn profile</a>
    }
else if (ViewData["Title"] == "Projects")
    {
<a href = "https://github.com/Niccoborg22">Github Profile</a>
    }
